.cards_in_app {
    /* background-color: red; */
    border-radius: 20px;
}

.card_img {
    /* padding: 10px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
    /* background-image: linear-gradient(140.1deg, rgba(24, 138, 141, 1) 20.5%, rgba(96, 221, 142, 1) 88.1%); */
    border-radius: 20px;
}

.card_img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0.02) 61%, rgba(0, 0, 0, 0.02) 73%), linear-gradient(33deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    background-blend-mode: normal, color-burn;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.pokemon_title {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 15px;
    text-transform: capitalize;
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    color: #ebebeb;
    font-size: 20px;
}

.pokemon_title>p:nth-child(2) {
    font-size: 15px;
}

.card_img img {
    height: 150px;
    width: 150px;
    z-index: 1;
    padding: 10px;
    position: relative;
    filter: drop-shadow(-2px 10px 5px rgb(68, 68, 68));
    transform: translate3d(0px, -1px, 10px);
}

/* .card_img>img::after {
    content: "sasdas";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
} */
.pokemon_desc {
    padding: 0;
}

.pokemon_desc>ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.list>li:nth-child(1) {
    width: 40%;
}

.list>li {
    width: 30%;
}

.sublist {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.sublist li:nth-child(1) {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: rgb(23, 67, 68);
    background-image: linear-gradient(45deg, rgb(33, 90, 92), rgb(72, 145, 99));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.sublist li:nth-child(2) {
    color: rgb(22, 79, 80);
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;

}

.info_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_btn>button {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(87, 108, 117, 1) 0%, rgba(37, 50, 55, 1) 100.2%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all ease-in;
}

.info_btn>button:hover {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(87, 108, 117, 1) 0%, rgba(37, 50, 55, 1) 100.2%);
    width: 150px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all ease-out;
}

.info_btn>button>.info_icon {
    font-size: 30px;
    transition: 0.4s all ease-out;
    color: rgb(255, 255, 255);
    stroke: 2px black;
    position: relative;
}